table {
    margin: 10vh 2%;
}
caption {
    margin-bottom: 2%;
    font-size:1.8em;
    font-weight:bold;
}
#row1 {
    width:15%;
}
#row2 {
    width:30%;
}
#row3 {
    width:30%;
}
img {
    width:100%;
}
th {
    line-height:1.5em;
}
td, th {
    text-align:center;
    border:1px black solid;
    padding: 0 20px;
}
table a {
    text-decoration:underline;
    color:blue;
}

